
%btn {
	padding:10px 30px;
	background-color: transparent;
	border: none;
	display: inline-block;
	margin:10px 0;
	cursor: pointer;
}

.btn:focus{
	outline:none;
}

.btn-primary {
	@extend %btn;
	font-size:18px;
	background-color: $color-primary;
	color:#fff;
	border-radius: 2px;
	border: 2px solid transparent;
	transition: all .1s linear;
	

		&:hover {
			transform: translate(4px, 4px);
			box-shadow: -4px -4px 0px $color-primary-dark;
		}
}

.btn-clear {
	@extend %btn;
	color:#999;
	text-decoration:underline;
		&:hover{
			background-color:transparent;
			text-decoration:none;
			color: #111;
		}
}


.btn-large {
	font-size: 20px;
	padding: 15px 40px;
}

.btn-small{
	font-size:16px;
	padding: 5px 15px;
}